.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
  max-width: 50rem;
  top: 0px;
  background: white;
  margin-top: -6rem;
  margin-bottom: -1rem;
  padding-bottom: 1.1rem;
  border-bottom: 3px solid #eaeaea;
}

.navitem {
  display: inline-block;
  margin-top: -2rem;
}

.active {
  color: #FFC82D;
  border-color: #FFC82D;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9rem;
  margin-bottom: -1.4rem;
}

.navimage {
  border: 3px solid #eaeaea;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.announceimage {
  width: 85%;
  border: 3px solid #eaeaea;
}

.image {
    max-width: 800px;
    width: 100%;
    margin-top: 3rem;
    border: 3px solid #eaeaea;
}

.map {
    height: 100%;
    width: 100%;
    max-width: 600px;
    border: 3px solid #eaeaea;
}

.announcements {
    text-decoration: underline;
    margin-bottom: -0.2rem;
}

.footer {
  width: 100%;
  max-width: 50rem;
  margin-top: 3rem;
  border-top: 3px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.footerphone {
  margin-top: -.01rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  text-align: left;
  line-height: 1.15;
  font-size: 150%;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  width: 87%;
  max-width: 800px;
  margin-bottom: 2.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.card {
  width: 100%;
  max-width: 11rem;
  text-align: center;
  padding: 0rem 1rem 0rem 1rem;
  color: #421075;
  text-decoration: none;
  border: 2px solid #421075;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #FFC82D;
  border-color: #FFC82D;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.giveFunds {
    margin-top: 2rem;
    margin-bottom: -0.2rem;
    text-decoration: underline;
}

.donateButton {
    margin-bottom: 4rem;
}

.list{
    max-width: 600px;
}

.assistanceTitles{
    margin-bottom: -0.28rem;
}

.sourcesTitles{
    margin-bottom: -0.4rem;
}

.topnav {
  display: inline-block;
  overflow: hidden;
  background-color: #421075;
  border-radius: 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #FFC82D;
  color: black;
}

.golfSponsors{
    width: 100%;
    max-width: 800px;
}

.golfFamily{
    width: 40%;
    max-width: 800px;
    border: 3px solid #eaeaea;
}

.aboutImg{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 80%;
    border: 3px solid #eaeaea;
}
